@import url(reset.css);

/* 큰 제목 폰트 : font-family: 'Rubik', sans-serif; */
/* main.css */
body{font-size: 12px;color: #000;font-family: sans-serif;}
a{color: #666;text-decoration: none;}

/* layout */
#wrap{width: 100%;height: 100%;background: #f5f5f5;}
    header{position: fixed;left: 0;top: 0;width: 100%;background: #fff;padding-bottom: 10px;}
        .header_inner{position: relative;width: 93%;height: 25px;margin: 0 auto 3px;padding-top: 10px;border-bottom: 1px solid #bebebe;}
    .container{width: 100%;padding-top: 108px;}
        .content1{width: 93%;height: 100%;margin: 0 auto;}
    footer{position: fixed;left: 0;bottom: 0;width: 100%; height: 40px; background: #e5e5e5;}
        .footer_inner{width: 93%;margin: 0 auto;}

/* header */
.header_inner .chating_out a{position: absolute;display: block;width: 26px;height: 26px;}
.header_inner .chating_out a:after{content: "";display: block;position: absolute;left: 50%;top: 50%;width: 10px;height: 1px;
                    background-color: #333;
                    transform: translate(-50%,-50%) rotate(-45deg);transform-origin: left;}
.header_inner .chating_out a:before{content: "";display: block;position: absolute;left: 50%;top: 50%;width: 10px;height: 1px;
                    background-color: #333;
                    transform: translate(-50%,-50%) rotate(45deg);transform-origin: left;}

.header_inner h2{display: block;width: 100%;text-align: center;font-size: 14px;}

.product{display: flex;width: 93%;margin: 5px auto 0;}
.product > .product_img{display: block;width: 58px; height: 58px; margin-right: 5px;
        background: url(../img/product/product_6.jpeg) no-repeat 50% 50%;
        border-radius: 10px;background-size: cover;}
.product > .product_explanation > h3{font-size: 14px;font-weight: 300;}
.product > .product_explanation > span{font-size: 14px;}
.product > .product_explanation > ul li{margin-top: 5px;}
.product > .product_explanation > ul li{display: inline-block; width: 60px;height: 16px;
                                text-align: center;background: #dedede;border-radius: 3px;}
.product > .product_explanation > ul li.on{color: #fff; background: #48A1F8;}

/* containner */
    /* content1 */
article{position: relative;margin: 10px 0;}

.other{display: flex;}
.other > a{display: block;width: 50px;height: 50px;border-radius: 50%;
                    background: url(../img/profileimg/character_2.jpeg) no-repeat 50% 50%;background-size: cover;
                    text-indent: -9999px;overflow: hidden;}
.other_info{margin: 5px 0 0 10px;}
.other_info > span{display: block;}
.other_info > .profile_name{font-size: 14px;}
.other_info > .chat{margin-top: 5px;padding: 3px 10px;line-height: 18px;
    border: 1px solid #707070; border-radius: 10px;
    background: #fff;}

.my{text-align: right;width: 100%;}
.my span.chat{display: inline-block;padding: 3px 10px;line-height: 18px;color: #fff;
    border: 1px solid #707070; border-radius: 10px;
    background: #48A1F8;}
.my img.chat{width: 170px;height: 130px; border-radius: 10px;}




.my .promise{overflow: hidden;display: inline-block; width: 170px;text-align: left; 
            border-radius: 10px;box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.32);}

.my .promise .place{background: #48A1F8;display: flex;align-items: center;padding: 3px 0 3px 0;}
.my .promise .place .imgbox{width: 30px; height: 40px;
    background: url(../img/promise-icon1.png) no-repeat 50% 50%; background-size: cover;}


.my .promise .time{background: #48A1F8;display: flex;align-items: center;padding: 7px 0 3px 3px;}
.my .promise .time .imgbox{width: 35px;height: 30px;
    background: url(../img/promise-icon2.png) no-repeat 50% 50%; background-size: cover;}

.my .promise div:nth-of-type(1) span{color: #fff;}
.my .promise div:nth-of-type(1) span em{font-size: 10px;}

.my .promise div:nth-of-type(2){display: flex;}
.my .promise div:nth-of-type(2) a:nth-of-type(1)::after{content: "";float: right; height: 16px; border-right: 1px solid #bebebe;}
.my .promise div:nth-of-type(2) a{width: 50%;padding: 5px;
                    color: #bebebe;text-align: center;background: #fff;}
                    
.footer_inner a{display: inline-block;width: 17px;height: 17px;margin-top: 7px;}
.footer_inner a img{display: block;width: 15px;height: 15px;margin: 1px auto 0;}
.footer_inner form{float: right;display: inline-block;width: 90%; margin-top: 5px;}
.footer_inner form input{border-radius: 10px; width: 85%;height: 20px; border: 1px solid #bebebe; text-indent: 10px;}
.footer_inner form button{float: right;text-indent: -9999px;overflow: hidden;width: 20px;
    border: none;background: url(../img/msg-btn.png) no-repeat 50% 50%;background-size: 30px 30px;}







footer.on{}